.listing {
  padding-bottom: 30px;
}
.listing-heading {
  padding: 10px 20px 0 20px;
  font: caption;
  font-weight: 600;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  font-weight: 800;
}
.listing-location {
  padding: 10px 20px 20px 20px;
}


